#!/usr/bin/env bash

# misc
alias cdev='cd ~/develop'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='../../../..'
alias ......='../../../../..'
alias ls='ls -ahl -G'

# dotslash
alias koshu='./koshu.sh'
alias devops='./devops'
alias stack='./stack'

# docker
alias dc='docker-compose'
alias docker-rma='docker rm -f $(docker ps -a -q)'

# kubernetes
alias k=kubectl

# git
alias cs='clear ; git status'
alias gco='git commit'
alias gg='git gui'
alias gl='git log'
alias diff='git diff | git-split-diffs --color | less -RFX'
alias merge='git mergetool'
